@model MockTask.Models.ViewModel


@if (@Model != null)
{
    <form asp-action="Index" method="post">
        <table>
            <tbody>
                <tr>
                    <td>Students</td>
                    <td>@Model.sudentsCount</td>
                    <td><a href="~/Students/Create">insert</a></td>
                </tr>
                
                <tr>
                    <td>Classes</td>
                    <td>@Model.classesCount</td>
                    <td><a href="~/Classes/Create">insert</a></td>
                </tr>
                <tr>
                    <td>Subjects</td>
                    <td>@Model.subjectsCount</td>
                    <td><a href="~/Subjects/Create">insert</a></td>
                </tr>
                <tr>
                    <td>Teachers</td>
                    <td>@Model.teachersCount</td>
                    <td><a href="~/Teachers/Create">insert</a></td>
                </tr>
            </tbody>
        </table>
        <button type="submit">Export</button>
    </form>
}